#contact {
  margin-top: -10px;
  padding: 0 15px;
  background: #f3fafa;
}
#contact .cont {
  margin-top: 30px;
}
#contact .cont .icon {
  float: left;
  margin-right: 22px;
}
#contact .cont .adress {
  font-size: 17px;
  overflow: hidden;
}
#contact .cont .phone-numbers {
  overflow: hidden;
}
#contact .cont .phone-numbers .num {
  font-size: 17px;
}
#contact .cont .email {
  color: #439c92;
  font-size: 17px;
}
